body {
    background-color: #2c2d2e;
    /* text-align: center; */
    color: azure;
}

.center {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

a {
    color: white;
}